.root {
  display: flex;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-left: 17px;
}

.avatar {
  margin-right: 15px;
}

.form {
  width: 100%;
}

.bottomBlock{
  padding: 10px 0;
  display: flex;
  align-items: center;

  button {
    margin-right: 10px;
    height: max-content;
  }
}