h1{
    margin: 0;
}

.user{
    .avatar{
        margin: 0 auto;
    }

    .fullName{
        text-align: center;
        margin: 0;
    }
}

.editForm{

    .avatar_item{
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .field{
        margin-bottom: 10px;
    }
}
    
